.table td, th {
   text-align: center;
}

.navbar {
  background-color: hsl(171, 100%, 41%);
  padding: 5px 5px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 5px 5px; 
    box-shadow: 3px;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}


.navbar-default .navbar-nav > li > a {
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}

.panel .panel-heading {
   background: hsl(171, 100%, 41%);
    padding: 30px 25px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0; 
}

.form-horizontal .header{
    background: hsl(171, 100%, 41%);
    padding: 30px 25px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}
.form-horizontal .heading{
    font-size: 16px;
    color: #3f9cb5;
    margin: 10px 0 20px 0;
    text-transform: capitalize;
}

.form-horizontal .heading-label{
    font-size: 13px;
    color: #3f9cb5;
    margin: 10px 20px 20px 0;
    text-transform: capitalize;
    padding: 0px 20px;
}

.form-horizontal .form-content{
    padding: 25px;
    background: #fff;
}
.form-horizontal .form-control{
    padding: 12px 16px 12px 39px;
    height: 50px;
    font-size: 14px;
    color: #2b2a2a;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}
.form-horizontal .form-control:focus{
    border-color: #3f9cb5;
    box-shadow: none;
}
.form-horizontal .control-label{
    font-size: 17px;
    color: #ccc;
    position: absolute;
    top: 5px;
    left: 27px;
    text-align: center;
}
.form-horizontal textarea.form-control{
    resize: vertical;
    height: 130px;
}
.form-horizontal .btn{
    font-size: 18px;
    color: #4e4e4e;
    float: right;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 0;
    padding: 10px 25px;
    transition: all 0.5s ease 0s;
}
.form-horizontal .btn:hover{
    background: #fff;
    border-color: #3f9cb5;
}